<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite  parallel="tests" name="All Test Suite">
    <listeners>
        <listener class-name="demoblaze.TestObjects.Listeners"></listener>
    </listeners>

    <test verbose="1" preserve-order="true" name="Submit Order Test ">
    <classes>
        <class name="demoblaze.tests.OrderWorkflowTest">
        <methods>
         <include name="submitOrder"/>
         <include name="orderVerification"/>

        </methods>


    </class>
    </classes>
</test>
    <test verbose="1" preserve-order="true" name="Error Validation ">
        <classes>
            <class name="demoblaze.tests.ErrorValidationTest">
                <methods><include name="errorLogin"/></methods>
            </class>

        </classes>
    </test>

</suite>